In [1]:
import numpy as np
import pandas as pd
import random as rnd

In [2]:
def fitness(theta, no_result, examples):
    nac = 0
    nic = 0
    ta = 0
    ti = 0
    
    # Cria um array contendo 100 indices que serão visitados na matriz original, para testar a qualidade deste cromossomo
    indexes = np.random.randint(no_result.shape[0], size=100)

    for i in indexes:
        cr = no_result.iloc[i] * theta
        cr_sum = cr.sum()
        if ((cr_sum > 0) and (examples.iloc[i].Resultado == "A")):
            nac += 1
        elif ((cr_sum < 0) and (examples.iloc[i].Resultado == "I")):
            nic += 1
            
        if (examples.iloc[i].Resultado == "A"):
            ta += 1
        else:
            ti += 1

    return (nac * nic) / (ta * ti)

In [3]:
def gen_cr(features, amount=1):
    if amount > 1:
        return np.random.uniform(low=-1., high=1., size=(amount, features))
    else:
        return np.random.uniform(low=-1., high=1., size=features)

In [4]:
def crossover(first, second, amount=3):
    parent_size = first.size
    offsprings = []

    for i in range(amount):
        random_index = np.random.randint(parent_size-1, size=1)[0]
        first_part = first[:random_index]
        second_part = second[random_index:]
        offspring = np.append(first_part, second_part)
        offsprings.append(offspring)
    
    return np.array(offsprings)

In [5]:
def mutate(cr):
    # print(cr)
    random_cr_index = np.random.randint(cr.size-1, size=1)[0]
    # print(random_cr_index)
    random_value = np.random.uniform(low=-1., high=1., size=no_result.shape[1])[0]
    # print(random_value)
    cr[random_cr_index] = random_value
    return cr

In [6]:
def maximum2(data):
    copied = data.copy()
    sorted_data = np.sort(copied)
    return (sorted_data[-1], sorted_data[-2])

In [7]:
def minimum2(data):
    copied = data.copy()
    sorted_data = np.sort(copied)
    return (sorted_data[0], sorted_data[1])

In [8]:
def wheel_of_chance(fitness_array):
    cumulative_sum = np.array(fitness_array).cumsum()
    return rnd.uniform(0, max(cumulative_sum))

In [9]:
def choose_parents(cr_database):
    return np.random.randint(cr_database.shape[0], size=2)

In [10]:
examples = pd.read_csv("data/creditus-data.csv", sep=";", index_col=0, header=0)

In [11]:
examples.head(5)

,X11,X12,X21,X22,X31,X32,X41,X42,X51,X52,X61,X62,X71,X72,X81,X82,X91,X92,Resultado
Y001,1,0,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0,A
Y002,0,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0,A
Y003,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,1,I
Y004,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,1,I
Y005,0,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0,A

In [12]:
# Variáveis do problema, conforme apostila
# ta = examples[examples.Resultado == 'A'].shape[0]  # número total de adimplentes 
# ti = examples[examples.Resultado == 'I'].shape[0]  # número total de inadimplentes

In [13]:
no_result = examples.drop(["Resultado"], axis = 1)

In [14]:
no_result.head(5)

,X11,X12,X21,X22,X31,X32,X41,X42,X51,X52,X61,X62,X71,X72,X81,X82,X91,X92
Y001,1,0,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0
Y002,0,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0
Y003,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,1
Y004,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,1
Y005,0,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0

In [15]:
# Cria uma matriz de tamanho equivalente a matriz no_result
random_values = np.random.uniform(low=-1., high=1., size=no_result.shape)

In [16]:
# random_values

In [17]:
cr = no_result * random_values

In [18]:
# cr.head(5)

In [19]:
cr_sum = cr.sum(axis=1)

In [20]:
# cr_sum.head(5)

In [21]:
#pd.Series(examples.Resultado).head(5)

In [22]:
#cr_sum.head(5)

In [23]:
# dict = {
#     "summation": pd.Series(cr_sum),
#     "label": pd.Series(examples.Resultado)
# }

In [24]:
#labeled_cr = pd.DataFrame(dict)

In [25]:
#labeled_cr.head(5)

In [26]:
# nac = labeled_cr[(labeled_cr.summation > 0) & (labeled_cr.label == "A")]
# nic = labeled_cr[(labeled_cr.summation < 0) & (labeled_cr.label == "I")]

In [27]:
# nac.head(5) # O cálculo do NAC e NIC ainda não fazem sentido...

In [28]:
# Cria um array de tamanho equivalente à linha da matriz, parece mais conveniente que a abordagem anterior
# random_theta = np.random.uniform(low=-1., high=1., size=no_result.shape[1])

In [29]:
# fitness(random_theta, no_result, examples)

In [30]:
cr_size = no_result.shape[1]
# gen_cr(cr_size)

In [31]:
# crossover(gen_cr(cr_size), gen_cr(cr_size), 3)

In [32]:
# mutate(gen_cr(cr_size))
cr_database = gen_cr(no_result.shape[1], 6) # gera os 6 cromossomos

In [34]:
gen_count = 5
print([fitness(theta, no_result, examples) for theta in iter(cr_database)])
for c in range(gen_count):
    parent_indexes = choose_parents(cr_database)
    first = cr_database[parent_indexes[0]]
    second = cr_database[parent_indexes[1]]
    offspring1 = crossover(first, second)
    offspring2 = offspring1.copy()
    for i in range(len(offspring2)):
        offspring2[i] = mutate(offspring2[i])

    offspring = np.concatenate((offspring1, offspring2))
    db_fitness = [fitness(theta, no_result, examples) for theta in iter(cr_database)]
    offspring_fitness = [fitness(theta, no_result, examples) for theta in iter(offspring)]

    max2, max1 = maximum2(offspring_fitness)
    min1, min2 = minimum2(db_fitness)
    # print("antes")
    # print(cr_database)
    
    #print([fitness(theta, no_result, examples) for theta in iter(cr_database)])

    if max1 > min1:
        cr_database[db_fitness.index(min1)] = offspring[offspring_fitness.index(max1)]
    if max2 > min2:
        cr_database[db_fitness.index(min2)] = offspring[offspring_fitness.index(max2)]
        
print([fitness(theta, no_result, examples) for theta in iter(cr_database)])

[0.3525091799265606, 0.528, 0.46754857379082265, 0.5410036719706243, 0.5844155844155844, 0.33613445378151263]
[0.4435717238528317, 0.3878787878787879, 0.4355680449618627, 0.40336134453781514, 0.48173424327579284, 0.3412284223203533]

In [36]:
correct = 0
for theta in iter(cr_database):
    for i in range(no_result.shape[0]):    
        cr = no_result.iloc[i] * theta
        cr_sum = cr.sum()
        if ((cr_sum > 0) and (examples.iloc[i].Resultado == "A")):
            correct += 1
        elif ((cr_sum < 0) and (examples.iloc[i].Resultado == "I")):
            correct += 1

print(str(correct) + " / " + str(no_result.shape[0] * 6) + " = " + str(correct / (no_result.shape[0] * 6)))

2183 / 3348 = 0.6520310633213859