In [3]:
import numpy as np
import pandas as pd

In [49]:
examples = pd.read_csv("data/creditus-data.csv", sep=";", index_col=0, header=0)

In [50]:
examples.head(5)

,X11,X12,X21,X22,X31,X32,X41,X42,X51,X52,X61,X62,X71,X72,X81,X82,X91,X92,Resultado
Y001,1,0,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0,A
Y002,0,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0,A
Y003,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,1,I
Y004,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,1,I
Y005,0,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0,A

In [56]:
# Variáveis do problema, conforme apostila
ta = examples[examples.Resultado == 'A'].shape[0]  # número total de adimplentes 
ti = examples[examples.Resultado == 'I'].shape[0]  # número total de inadimplentes

In [57]:
no_result = examples.drop(["Resultado"], axis = 1)

In [58]:
no_result.head(5)

,X11,X12,X21,X22,X31,X32,X41,X42,X51,X52,X61,X62,X71,X72,X81,X82,X91,X92
Y001,1,0,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0
Y002,0,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0
Y003,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,1
Y004,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,1
Y005,0,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0

In [59]:
# Cria uma matriz de tamanho equivalente a matriz no_result
random_values = np.random.uniform(low=-1., high=1., size=no_result.shape)

In [60]:
random_values

array([[ 0.42590403, -0.45167364,  0.02517421, ..., -0.5667495 ,
        -0.56761999, -0.62111265],
       [ 0.86412822,  0.85733012,  0.93705655, ...,  0.19404253,
         0.91722803, -0.38880212],
       [-0.93135819, -0.19685454, -0.09065943, ...,  0.25332453,
        -0.17449041,  0.28209181],
       ...,
       [-0.4031762 ,  0.95326238,  0.50726953, ...,  0.77808152,
         0.11406423,  0.66405351],
       [ 0.04175133,  0.42234929,  0.34034413, ..., -0.16316022,
         0.4936991 , -0.28844391],
       [ 0.25041605, -0.73685822, -0.13506883, ..., -0.4352727 ,
         0.2203615 ,  0.45090456]])

In [61]:
cr = no_result * random_values

In [62]:
cr.head(5)

,X11,X12,X21,X22,X31,X32,X41,X42,X51,X52,X61,X62,X71,X72,X81,X82,X91,X92
Y001,0.425904,-0.000000,0.000000,0.496130,0.566755,0.000000,-0.000000,-0.526285,-0.000000,0.002116,0.083096,0.000000,-0.000000,-0.088502,0.285061,-0.000000,-0.567620,-0.000000
Y002,0.000000,0.857330,0.000000,0.730668,0.265410,0.000000,0.000000,0.235278,0.000000,0.448204,0.488378,0.000000,-0.000000,0.455317,-0.133445,0.000000,0.917228,-0.000000
Y003,-0.931358,-0.000000,-0.090659,-0.000000,0.000000,0.233852,-0.912520,0.000000,0.437552,-0.000000,-0.000000,0.940994,-0.587175,0.000000,-0.000000,0.253325,-0.000000,0.282092
Y004,-0.469268,0.000000,0.399612,0.000000,0.000000,-0.992934,0.034721,-0.000000,-0.767077,0.000000,-0.000000,-0.692777,-0.227027,0.000000,-0.000000,-0.607794,0.000000,0.632373
Y005,-0.000000,0.688682,-0.000000,0.871613,0.857557,0.000000,0.000000,-0.767932,-0.000000,0.480280,-0.352691,-0.000000,-0.000000,0.698143,0.596755,0.000000,-0.593686,0.000000

In [71]:
cr_sum = cr.sum(axis=1)

In [72]:
cr_sum.head(5)

Y001    0.676655
Y002    4.264368
Y003   -0.373898
Y004   -2.690171
Y005    2.478720
dtype: float64

In [76]:
pd.Series(examples.Resultado).head(5)

Y001    A
Y002    A
Y003    I
Y004    I
Y005    A
Name: Resultado, dtype: object

In [77]:
cr_sum.head(5)

Y001    0.676655
Y002    4.264368
Y003   -0.373898
Y004   -2.690171
Y005    2.478720
dtype: float64

In [89]:
dict = {
    "summation": pd.Series(cr_sum),
    "label": pd.Series(examples.Resultado)
}

In [90]:
labeled_cr = pd.DataFrame(dict)

In [91]:
labeled_cr.head(5)

      summation label
Y001   0.676655     A
Y002   4.264368     A
Y003  -0.373898     I
Y004  -2.690171     I
Y005   2.478720     A

In [99]:
nac = labeled_cr[(labeled_cr.summation > 0) & (labeled_cr.label == "A")]
nic = labeled_cr[(labeled_cr.summation < 0) & (labeled_cr.label == "I")]

In [101]:
nac.head(5) # O cálculo do NAC e NIC ainda não fazem sentido...

      summation label
Y001   0.676655     A
Y002   4.264368     A
Y005   2.478720     A
Y012   1.585324     A
Y015   0.434927     A