In [3]:
import numpy as np
import pandas as pd

In [164]:
def fitness(theta, no_result, examples):
    nac = 0
    nic = 0
    ta = 0
    ti = 0
    
    # Cria um array contendo 100 indices que serão visitados na matriz original, para testar a qualidade deste cromossomo
    indexes = np.random.randint(no_result.shape[0], size=100)

    for i in indexes:
        cr = no_result.iloc[i] * theta
        cr_sum = cr.sum()
        if ((cr_sum > 0) and (examples.iloc[i].Resultado == "A")):
            nac += 1
        elif ((cr_sum < 0) and (examples.iloc[i].Resultado == "I")):
            nic += 1
            
        if (examples.iloc[i].Resultado == "A"):
            ta += 1
        else:
            ti += 1

    return (nac * nic) / (ta * ti)

In [179]:
def gen_cr(cr_size, amount = 1):
    return np.random.uniform(low=-1., high=1., size=cr_size)

In [224]:
def crossover(first, second, amount):
    parent_size = first.size
    offsprings = []

    for i in range(amount):
        random_index = np.random.randint(parent_size, size=1)[0]
        first_part = first[:random_index]
        second_part = second[random_index:]
        offspring = np.append(first_part, second_part)
        offsprings.append(offspring)
    
    return np.array(offsprings)

In [255]:
def mutate(cr):
    random_cr_index = np.random.randint(cr.size, size=1)[0]
    cr[random_cr_index] = np.random.uniform(low=-1., high=1., size=no_result.shape[1])[0]
    return cr

In [237]:
examples = pd.read_csv("data/creditus-data.csv", sep=";", index_col=0, header=0)

In [50]:
examples.head(5)

,X11,X12,X21,X22,X31,X32,X41,X42,X51,X52,X61,X62,X71,X72,X81,X82,X91,X92,Resultado
Y001,1,0,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0,A
Y002,0,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0,A
Y003,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,1,I
Y004,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,1,I
Y005,0,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0,A

In [56]:
# Variáveis do problema, conforme apostila
ta = examples[examples.Resultado == 'A'].shape[0]  # número total de adimplentes 
ti = examples[examples.Resultado == 'I'].shape[0]  # número total de inadimplentes

In [57]:
no_result = examples.drop(["Resultado"], axis = 1)

In [58]:
no_result.head(5)

,X11,X12,X21,X22,X31,X32,X41,X42,X51,X52,X61,X62,X71,X72,X81,X82,X91,X92
Y001,1,0,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0
Y002,0,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0
Y003,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,1
Y004,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,1
Y005,0,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0

In [59]:
# Cria uma matriz de tamanho equivalente a matriz no_result
random_values = np.random.uniform(low=-1., high=1., size=no_result.shape)

In [60]:
random_values

array([[ 0.42590403, -0.45167364,  0.02517421, ..., -0.5667495 ,
        -0.56761999, -0.62111265],
       [ 0.86412822,  0.85733012,  0.93705655, ...,  0.19404253,
         0.91722803, -0.38880212],
       [-0.93135819, -0.19685454, -0.09065943, ...,  0.25332453,
        -0.17449041,  0.28209181],
       ...,
       [-0.4031762 ,  0.95326238,  0.50726953, ...,  0.77808152,
         0.11406423,  0.66405351],
       [ 0.04175133,  0.42234929,  0.34034413, ..., -0.16316022,
         0.4936991 , -0.28844391],
       [ 0.25041605, -0.73685822, -0.13506883, ..., -0.4352727 ,
         0.2203615 ,  0.45090456]])

In [61]:
cr = no_result * random_values

In [62]:
cr.head(5)

,X11,X12,X21,X22,X31,X32,X41,X42,X51,X52,X61,X62,X71,X72,X81,X82,X91,X92
Y001,0.425904,-0.000000,0.000000,0.496130,0.566755,0.000000,-0.000000,-0.526285,-0.000000,0.002116,0.083096,0.000000,-0.000000,-0.088502,0.285061,-0.000000,-0.567620,-0.000000
Y002,0.000000,0.857330,0.000000,0.730668,0.265410,0.000000,0.000000,0.235278,0.000000,0.448204,0.488378,0.000000,-0.000000,0.455317,-0.133445,0.000000,0.917228,-0.000000
Y003,-0.931358,-0.000000,-0.090659,-0.000000,0.000000,0.233852,-0.912520,0.000000,0.437552,-0.000000,-0.000000,0.940994,-0.587175,0.000000,-0.000000,0.253325,-0.000000,0.282092
Y004,-0.469268,0.000000,0.399612,0.000000,0.000000,-0.992934,0.034721,-0.000000,-0.767077,0.000000,-0.000000,-0.692777,-0.227027,0.000000,-0.000000,-0.607794,0.000000,0.632373
Y005,-0.000000,0.688682,-0.000000,0.871613,0.857557,0.000000,0.000000,-0.767932,-0.000000,0.480280,-0.352691,-0.000000,-0.000000,0.698143,0.596755,0.000000,-0.593686,0.000000

In [71]:
cr_sum = cr.sum(axis=1)

In [72]:
cr_sum.head(5)

Y001    0.676655
Y002    4.264368
Y003   -0.373898
Y004   -2.690171
Y005    2.478720
dtype: float64

In [76]:
pd.Series(examples.Resultado).head(5)

Y001    A
Y002    A
Y003    I
Y004    I
Y005    A
Name: Resultado, dtype: object

In [77]:
cr_sum.head(5)

Y001    0.676655
Y002    4.264368
Y003   -0.373898
Y004   -2.690171
Y005    2.478720
dtype: float64

In [89]:
dict = {
    "summation": pd.Series(cr_sum),
    "label": pd.Series(examples.Resultado)
}

In [90]:
labeled_cr = pd.DataFrame(dict)

In [91]:
labeled_cr.head(5)

      summation label
Y001   0.676655     A
Y002   4.264368     A
Y003  -0.373898     I
Y004  -2.690171     I
Y005   2.478720     A

In [99]:
nac = labeled_cr[(labeled_cr.summation > 0) & (labeled_cr.label == "A")]
nic = labeled_cr[(labeled_cr.summation < 0) & (labeled_cr.label == "I")]

In [101]:
nac.head(5) # O cálculo do NAC e NIC ainda não fazem sentido...

      summation label
Y001   0.676655     A
Y002   4.264368     A
Y005   2.478720     A
Y012   1.585324     A
Y015   0.434927     A

In [162]:
# Cria um array de tamanho equivalente à linha da matriz, parece mais conveniente que a abordagem anterior
random_theta = np.random.uniform(low=-1., high=1., size=no_result.shape[1])

array([152, 126, 541, 333, 249, 171, 152, 220, 453, 186,  89,  21,  53,
       484, 239, 411, 286, 336, 314, 276, 434, 355, 294, 253, 537, 443,
       374, 480, 543, 115, 517, 227, 554, 260, 261, 395,  48, 448, 200,
       325, 336, 227, 529, 466, 246,  81, 253,  23, 278, 462, 439, 330,
       273, 331, 404, 200, 108, 292, 186, 489, 234, 311, 176,  16, 394,
       362, 250, 395,  58,  60,  44, 245, 245, 370, 345, 448, 463, 142,
       532, 104, 233, 527, 335, 144, 345,  39, 355, 308,  29, 443,  85,
       247, 281, 351,  56, 293, 233,  74, 144, 421])

In [169]:
fitness(random_theta, no_result, examples)

0.4853472501003613

In [183]:
cr_size = no_result.shape[1]
gen_cr(cr_size)

array([-0.08436532, -0.63573096,  0.12753035, -0.23635688,  0.85883436,
       -0.43947942, -0.62653182,  0.82064429,  0.7676938 , -0.41767118,
       -0.17237889, -0.37189714, -0.9952791 ,  0.40211408, -0.74516488,
       -0.72059215, -0.50081093,  0.60275534])

In [225]:
crossover(gen_cr(cr_size), gen_cr(cr_size), 3)

8
13
4

array([[ 0.68369649,  0.45627449, -0.67823418, -0.83789409, -0.79578567,
         0.49147685, -0.08043369,  0.95890342, -0.24661582, -0.03993457,
         0.26005681, -0.26168294,  0.80869204,  0.19069756, -0.30720692,
         0.54367761,  0.50402408,  0.28012737],
       [ 0.68369649,  0.45627449, -0.67823418, -0.83789409, -0.79578567,
         0.49147685, -0.08043369,  0.95890342,  0.25937182,  0.96085438,
         0.44179899,  0.20704665,  0.61841799,  0.19069756, -0.30720692,
         0.54367761,  0.50402408,  0.28012737],
       [ 0.68369649,  0.45627449, -0.67823418, -0.83789409, -0.66522914,
         0.70275265, -0.37592518, -0.78631766, -0.24661582, -0.03993457,
         0.26005681, -0.26168294,  0.80869204,  0.19069756, -0.30720692,
         0.54367761,  0.50402408,  0.28012737]])

In [256]:
mutate(gen_cr(cr_size))

array([-0.40201449, -0.21379754, -0.09326929,  0.69717776,  0.79360348,
        0.40264223, -0.69342218, -0.93779285, -0.49798397, -0.29033724,
        0.04408634,  0.99520176, -0.67830867,  0.93718829,  0.70373323,
       -0.24841026, -0.00808347, -0.51167873])